h1 a, h2 a {
    color: #64c800;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    background-color: grey;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}





